@page
@model FindWorkRazor.Pages.Employer.RespondedPeopleModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>



<style>

    body {
        background-color: #F5F5F5;
        font-family: 'Exo 2', sans-serif;
    }

    html {
        background-color: #F5F5F5;
    }
</style>


<header>
    <div style="position:absolute; left:0px; width: 100%; height: 100px; background: #E05B49">
        <h1 style="position: absolute; width: 200px; height: 33.9px; top: 33px; left: 100.48px; border-radius:407.177px; color: white" id="title"><a style="color:white;" asp-page="/Index">JOB FAST</a></h1>



        <div class="logwind" style="display:none; max-width: 600px;" id="mod">
            <h3>Are you sure you want to logout?</h3>
            <form asp-page-handler="Logout" method="post">
                <button class="btn btn-primary" asp-page-handler="Logout">Yes</button>
                <button data-fancybox-close class="btn btn-light ml-4 border-dark" asp-page-handler="DontLogout">No</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
        <input type="checkbox" id="check" />
        <label for="check">
            <p style="position:absolute; left:1184px; top:40px;" id="btn">@Model.employer.secondname<img style="height:24px; width:25px;" src="~/img/user.png" /> </p>
            <i id="close"><img style="width:50px; height:50px;" src="~/img/close.png" /></i>
        </label>

        <div class="sidebar">
            <header>
                <h3 style="font-size:20px; margin-left:30px; position:absolute; top:29px;"> @Model.employer.secondname</h3>
                <p style="font-size:18px; margin-left:35px; position:absolute; top:62px;">+@Model.employer.phone</p>
            </header>

            <ul>
                <li style="margin-left:35px;margin-top:30px; position:absolute;">
                    <a style="color:black; font-size:18px;" asp-page="./CreateVacancy"><img style="height:20px; width:20px;" src="~/img/resume.png" />Create vacancy</a>
                </li>
                <li style="margin-left:35px; margin-top:68px; position:absolute;">
                    <a style="color: black; font-size:18px;" asp-page="./RespondedPeople">Responded people</a>
                </li>
                <li style="margin-left:35px; margin-top:106px; position:absolute;">
                    <a style="color:black; font-size:18px;" asp-page="./MyVacancies">My vacancies</a>
                </li>
            </ul>
            <ul>
                <li id="logout">
                    <a style="color:red;" data-fancybox data-src="#mod" data-modal="true" href="javascript:;">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</header>



<body>
    <div style="background-color:white; position:absolute; left:349px; top:144px; width:736px; height:1681px;">

        <a asp-page="/Index" style="color:black; position:absolute; left:34px; top:42px; font-size:20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />

            </svg>  Назад
        </a>
        <h2 style="position: absolute; left: 287px; top: 39.5px; font-style: normal; font-size: 24px; color:#1A2E35;">Responded peoples</h2>


        <table style="position:absolute; top:110px; left:50px;">

            <tbody>
                @{
                    for (int item = 0; item < Model.resumes.Count; item += 2)
                    {

                        if (item >= Model.resumes.Count - 1)
                        {
                                <tr>
                                    <td class="position-static top-100 float-start" style="display: flex; flex-direction: column; align-items: flex-start; padding: 20px;
                                gap: 12px; margin-top: 20px; margin-left: 0px; background-color: #F5F5F5; height: 113px; width: 287px; border-radius: 10px">
                                        <a asp-page="./ResumeDetails" asp-route-id="@Model.resumes[item].Id">
                                            <div>
                                                <h5>@Model.resumes[item].desireWork</h5>
                                            </div>

                                            <small class="text-muted"> @Model.resumes[item].desireSalary</small>

                                            <small> @Model.resumes[item].education</small>

                                        </a>

                                    </td>

                                </tr>
                            break;
                        }
                        else
                        {
            <tr>

                <td class="position-static top-100 float-start" style="display: flex; flex-direction: column; padding: 20px; gap: 12px; margin-top: 20px;
                                margin-left: 0px; background-color: #F5F5F5; height: 113px; width: 287px; border-radius: 10px">
                    <a asp-page="./ResumeDetails" asp-route-id="@Model.resumes[item].Id">
                        <div>
                            <h5>@Model.resumes[item].desireWork</h5>
                        </div>
                        <small class="text-muted"> @Model.resumes[item].desireSalary</small>
                        <small> @Model.resumes[item].education</small>
                    </a>

                </td>

                <td class="position-static top-100 float-center" style="display: flex; flex-direction: column; padding: 20px; gap: 12px;
                            margin-top: 20px; margin-left: 388px; background-color: #F5F5F5; height: 113px; width: 287px; border-radius: 10px;">
                    <a asp-page="./ResumeDetails" asp-route-id="@Model.resumes[item+1].Id">
                        <div>
                            <h5>@Model.resumes[item + 1].desireWork</h5>
                        </div>

                        <small class="text-muted"> @Model.resumes[item + 1].desireSalary</small>

                        <small> @Model.resumes[item + 1].education</small>

                    </a>

                </td>
            </tr>
                        }
                    }
                }

            </tbody>

        </table>

    </div>


    <script src="./js/jquery.js"></script>
    <script src="./js/site.js"></script>
</body>
