@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager;
@model FindWorkRazor.Pages.DetailsModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/vdetails.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
</head>

<header class="header">
    <h1 class="jobwrite">JOB FAST</h1>
    <form method="post">
        <p>
            <input placeholder="Пошук по професії" class="find" type="text" asp-for="SearchString" />
                <button asp-route-id="@Model.Vacancy.vacancyId" asp-page-handler="Vacancies" class="findb" type="submit">Знайти роботу</button>
        </p>
    </form>
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <div>
                <a id="sidebarCollapse" class="username">@User.Identity.Name</a>
            </div>   
        }
    }
</header>

<body>
    <div class="page">
    </div>
    <a class="back" asp-page="/Index">Назад</a>
    <h2 class="vacancyname">@Model.Vacancy.vacancyname</h2>

    <form method="post">
    <button asp-route-id="@Model.Vacancy.vacancyId" asp-page-handler="Response" id="resp" class="response">Відгукнутись</button>
    </form>



    <div style="position:absolute; left:247px; top:230px;">
        <p>@Model.Vacancy.publishtime @Model.Vacancy.company @Model.Vacancy.location</p>

        <p style="width:954px; height:auto;">@Model.Vacancy.description</p>
        <h4>What do you need:</h4>
        <p style="width:954px;">@Model.Vacancy.requires</p>

        <h4>Offer: </h4>
        <p style="width:954px;">@Model.Vacancy.offer</p>
        <button class="downresp">Відгукнутись</button>
    </div>

    <script src="./js/jquery.js"></script>
    <script src="./js/dets.js"></script>
</body>
               
@{ 
    if (!string.IsNullOrEmpty(Model.SearchString))
    {
            <table style="position:absolute; top:78px; left:474px">
                <tbody>
                    @foreach (var item in Model.vacancies)
                    {
                        <tr>
                            <td>
                                <div style="width:305px;">
                                    <a asp-page="./Details" asp-route-id="@item.vacancyId" class="list-group-item list-group-item-action">
                                        <div>
                                            <h5>@Html.DisplayFor(modelItem => item.vacancyname)</h5>
                                        </div>
                                        <small class="text-muted">@Html.DisplayFor(modelItem => item.company)</small>
                                        <small class="text-muted">  @Html.DisplayFor(modelItem => item.location)</small>

                                        <small>@Html.DisplayFor(modelItem => item.category)</small>
                                      
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
           }

}

